@{
ViewData["Title"] = "Main Page";
}

<div class="container">
    <h1>Welcome to Event Burst Virtual Meetings</h1>
    <p>Empowering Connections, Inspiring Collaborations</p>
    
    <div class="row">
        <div class="col-md-5">
            <!-- Image -->
            <img src="https://th.bing.com/th/id/R.eff52b9a82a9414379a97b6ba5cf675c?rik=PKMIO7pCs5Wb0w&riu=http%3a%2f%2fsoftrop.com%2fwp-content%2fuploads%2f2021%2f02%2fVirtual-Events.jpg&ehk=aP92tBOOG%2bAyKJgKRIe1j8AQrw61%2bwpYV%2fqQ5ibyfAY%3d&risl=&pid=ImgRaw&r=0" class="img-fluid rounded " alt="Choose Role Image">
        </div>
        <div class="col-md-6">
            <!-- Choose Role Form -->
            <form id="roleForm">
                <h2>Choose Your Role</h2>
                <div class="mb-3">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="role" value="attendee" checked> Attendee
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="role" value="organizer"> Organizer
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('roleForm').addEventListener('submit', function(event) {
            event.preventDefault();

            // Get the selected role
            var selectedRole = document.querySelector('input[name="role"]:checked').value;

            // Redirect based on the selected role
            if (selectedRole === 'attendee') {
                window.location.href = '/Attendee';
            } else if (selectedRole === 'organizer') {
                window.location.href = '/Organizer';
            }
        });
    </script>
}